.product {
    display: flex;
    flex-flow: row wrap;
}

.product__item {
    width: 30%;
    height: 36vw;
    margin: 10px;
    border: 1px solid rgb(164, 164, 164);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}

.product__item:hover {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

.product__item:hover .name_product {
    color: rgb(98, 98, 255);
}

.img_product {
    display: block;
    width: auto;
    height: 20vw;
    margin: 15px auto;
    object-fit: contain;
}

.name_product {
    font-size: 1.5vw;
    text-align: center;
}

.price_product {
    font-size: 1.5vw;
    color: #e10c00;
    text-align: center;
    font-weight: bold;
}

.btn-product {
    width: 20vw;
}

